<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
   

   .navbar{
    width: 100%;
   }

   .container{
    width: 80%;
    margin: 0 auto;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.331);
    border-radius: 3px;
    padding: 40px 0;
}

.navbar .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: flex-end;
}



.form{
    width: 100%;
  
    height: auto;
}
form{

    width: 80%;
    max-width: 1024;
    margin: 0 auto;
}

.inc{
    width: 100%;
  
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 8px;
    margin-top: 16px;
}

input{
    height: 48px;
    border: 0.5px black solid;
border-radius:7px;
}


input[type="submit"]{
    margin-top: 32px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    background-color: blue;
    color: white;
    border-radius:7px;
}
li{
    list-style: none;
}

a{
    margin-right: 14px;
    color: #292727;
    text-decoration: none;
    font-weight: 500;
    
}
 .right{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 95px;
 }



 .hero-section{
    width: 100%;
    height: auto;
    display: flex;
 }
 .hero-cont{
    
    border: 2px solid red;
    width: 80%;
    font-size: 16px;
    margin: 0 auto;
    height: auto;
 }

 .hero-section .hero-cont{

display: grid;
grid-template-columns: repeat(2,1fr);

}

    .text{
       
        
        letter-spacing: 0.5px;
        align-items: center;
    }


    h2{
        color: blue;
        letter-spacing: 0.5px;
    }
    span{
         
        color:orangered;
    }

    .btn{

        margin-top: 32px;
        margin-bottom: 16px;
    }
    .colored {
        padding: 12px 20px;
        border: 1px, solid, green;
        text-align: center;
        background-color: blue;
        color: white;
        border-radius: 5px;
        margin-right: 8px;
    }
    .no-col{
        padding: 12px 20px;
        border: 1px, solid,blue;
        text-align: center;
        color: blue;
        border-radius: 5px;
    }

  
    .img img{

        height: auto;
        width: 100%;
    }   
    h1{
        font-size: 40px;
    }
    </style>
</head>
<body>
   
    <nav class="navbar">
    <div class="container">
      <h2>happy<span>Zone</span></h2>
      <ul class="nav">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/faq">Faq</a></li>

        <div class="right">
          <li><a href="" class="colored">Signup</a></li>
          <li><a href="/login" style="visibility:  hidden;" class="no-col">Login</a></li>
        </div>
      </ul>
    </div>
  </nav>

  <div class="form">
    <form action="/submit" method="POST">
        <h1 style="font-size: 36px; color: orangered;">Contact Form</h1>

        <div class="inc">
            <label for="firstname">First Name</label>
            <input type="text" name="firstName" id="firstname" required>
        </div>

        <div class="inc">
            <label for="lastname">Last Name</label>
            <input type="text" name="lastName" id="lastname" required>
        </div>

        <div class="inc">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
        </div>

        <div class="inc">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>

        <div class="inc">
            <label for="confirm">Confirm Password</label>
            <input type="password" name="conpassword" id="confirm" required>
        </div>

        <input type="submit" id="sub" value="Submit">
    </form>
  </div>

  <script src=""></script>

</body>
</html>











